name: secret-provider-agent scanning

on:
  pull_request:
    paths:
      - 'cvmassistants/secretprovider/secret-provider-agent/src/secret_provider_agent.c'
  workflow_dispatch:

jobs:
  scan-secret-provider-agent:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update system and install packages
        run: sudo apt update && sudo apt install -y clang-format cppcheck # for formatting and static analysis

      - name: secret-provider-agent formatting
        working-directory: cvmassistants/secretprovider/secret-provider-agent/src
        run: clang-format --dry-run -style=llvm --Werror secret_provider_agent.c 

      - name: secret-provider-agent static analysis
        working-directory: cvmassistants/secretprovider/secret-provider-agent/src
        # enable all checks and suppress missing include system since RATS-TLS dependencies are not included in the repo
        run: cppcheck --enable=all --suppress=missingIncludeSystem --error-exitcode=1 secret_provider_agent.c
        