name: secret-provider-agent scanning

on:
  pull_request:
    paths:
      - 'cvmassistants/secretprovider/secret-provider-agent/src/secret_provider_agent.c'
      - 'cvmassistants/keyprovider/key-provider-agent/src/key_provider_agent.c'
  workflow_dispatch:

jobs:
  scan-provider-agents:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update system and install packages
        run: sudo apt update && sudo apt install -y clang-format cppcheck # for formatting and static analysis

      - name: Check which files changed
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            secret-provider:
              - 'cvmassistants/secretprovider/secret-provider-agent/src/secret_provider_agent.c'
            key-provider:
              - 'cvmassistants/keyprovider/key-provider-agent/src/key_provider_agent.c'

      - name: secret-provider-agent scanning
        if: steps.filter.outputs.secret-provider == 'true'
        working-directory: cvmassistants/secretprovider/secret-provider-agent/src
        # for cppcheck: enable all checks and suppress missing include system since RATS-TLS dependencies are not included in the repo
        run: |
          clang-format --dry-run -style=llvm --Werror secret_provider_agent.c 
          cppcheck --enable=all --suppress=missingIncludeSystem --error-exitcode=1 secret_provider_agent.c

      - name: key-provider-agent scanning
        if: steps.filter.outputs.key-provider == 'true'
        working-directory: cvmassistants/keyprovider/key-provider-agent/src
        run: |
          clang-format --dry-run -style=llvm --Werror key_provider_agent.c
          cppcheck --enable=all --suppress=missingIncludeSystem --error-exitcode=1 key_provider_agent.c