name: scan-provider-agents

on:
  pull_request:
    paths:
      - 'cvmassistants/secretprovider/secret-provider-agent/src/secret_provider_agent.c'
      - 'cvmassistants/keyprovider/key-provider-agent/src/key_provider_agent.c'

jobs:
  scan-provider-agents:

    name: Scan ${{ matrix.provider-agent.file }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        provider-agent:
          - dir: cvmassistants/secretprovider/secret-provider-agent/src
            file: secret_provider_agent.c
          - dir: cvmassistants/keyprovider/key-provider-agent/src
            file: key_provider_agent.c
      
    steps:
      - uses: actions/checkout@v4

      - name: Install tools (cached)
        uses: awalsh128/cache-apt-pkgs-action@v1.6.0
        with:
          packages: clang-format cppcheck # for formatting and static analysis
          version: 1.0

      - name: Check if file changed
        id: changed
        uses: tj-actions/changed-files@v47
        with:
          files: ${{ matrix.provider-agent.dir }}/${{ matrix.provider-agent.file }}

      - name: Scan ${{ matrix.provider-agent.file }}
        if: steps.changed.outputs.any_changed == 'true'
        working-directory: ${{ matrix.provider-agent.dir }}
        run: | # for cppcheck: enable all checks and suppress missing include system since RATS-TLS dependencies are not included in the repo
          echo "Scanning ${{ matrix.provider-agent.file }}"
          clang-format --dry-run -style=llvm --Werror ${{ matrix.provider-agent.file }}
          cppcheck --enable=all --suppress=missingIncludeSystem --error-exitcode=1 ${{ matrix.provider-agent.file }}